html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.mainContent {
    /* margin-top: 50px; */
    flex: 1;
    background: linear-gradient(to bottom, white, #8ed2ff);

    /* 100vh - header+sliding (100px) - footer (70px) */
    padding: 80px 0;
}