.loginModal {
    text-align: center;
}

.loginTitle {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputField {
    padding: 10px;
    border-radius: 5px;
}

.loginButton {
    width: 100%;
}

.registerText{
    font-size: 14px;
    margin-top: 10px;
}

.registerLink {
    color: #1890ff;
    cursor: pointer;
    margin-left: 5px;
}